.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.container h2 {
	margin: 4rem 0;
	font-size: 1.7rem;
	color: #053b77;
	position: relative;
	font-weight: 600;
}

.container h2::before {
	content: '';
	width: 10rem;
	margin: 0 auto;
	height: 0.2rem;
	position: absolute;
	bottom: -15px;
	right: 0;
	left: 0;
	background-color: #ff6c0c;
}

.slider {
	height: auto;
	width: auto;
}

.slider img {
	width: 100%;
}

.imgNormal {
	display: none;
}

.imgResponsive {
	display: initial;
}

.CardContainer {
	margin: 0 auto;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	flex-direction: column;
	width: 90%;
}

.card {
	width: 100%;
	height: 23rem;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	word-break: break-all;
	font-size: 0.95rem;
	border-radius: 0.8rem;
	color: #053b77;
	box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.349);
}

.cardTextcontent {
	padding: 1.5rem;
}

.cardTextcontent h3 {
	font-family: 1.1rem;
	font-weight: 700;
	color: #053b77;
	text-align: center;
}

.imageContainer {
	height: 9rem;
	width: 100%;
	border-radius: 0.8rem 0.8rem 0 0;
	overflow: hidden;
}

.imageContainer img {
	width: 100%;
	height: 100%;
	border-radius: 0.8rem 0.8rem 0 0;
	transition: transform 0.5s;
}

.card:hover img {
	transform: scale(1.1);
}

.NuestroAlcance {
	text-align: justify;
	word-break: break-all;
	margin-top: 5rem;
	color: #053b77;
	display: grid;
	grid-template-columns: 41% 48%;
	flex-wrap: wrap;
	gap: 8rem;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
}

.NuestroAlcance div:nth-of-type(1) {
	height: max-content;
	width: 100%;
}

.NuestroAlcance div:nth-of-type(1) img {
	width: 100%;
}

.NuestroAlcance a {
	padding: 0.2rem 2rem;
	text-decoration: none;
	color: #fff;
	background-color: #ff6c0c;
	height: 30px;
	width: 180px;
	border-radius: 10px;
}

.NuestroAlcance h3 {
	font-size: 2.1rem;
	text-align: center;
}

.NuestroAlcance a:hover {
	border: 0.2rem solid #ff6c0c;
	background: white;
	color: #ff6c0c;
}

.ServiceCard {
	margin-top: 5rem;
	font-family: 'Raleway', sans-serif;
}

.ServiceCard h3 {
	font-weight: 700;
	font-size: 3rem;
	font-weight: 700;
	color: #ff6c0c;
	position: relative;
}

.ServiceCard h3::before {
	background-color: #ff6c0c;
	bottom: -8px;
	content: '';
	height: 0.2rem;

	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;

	width: 22%;
}

.ServiceCard p {
	color: #053b77;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0 auto;

	line-height: 1.5rem;
	padding-top: 2rem;
	width: 90%;
}

.ConoceMas {
	text-align: center;
}

.map {
	margin: 5rem 0;
}

.map h4 {
	margin-bottom: 1.5rem;
}

.map a {
	background-color: #ff6c0c;
	border-radius: 10px;
	color: #fff;
	height: 30px;

	padding: 0.5rem 2rem;
	text-decoration: none;
	width: 180px;
}
.map a:hover {
	border: 0.2rem solid #ff6c0c;
	background: white;
	color: #ff6c0c;
}

@media (min-width: 780px) {
	.imgNormal {
		display: initial;
	}

	.imgResponsive {
		display: none;
	}
}

@media (min-width: 550px) {
	.CardContainer {
		margin: 0 auto;
		margin-top: 2rem;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	.card {
		transition: 0.5s ease-in-out;
		width: 23rem;
	}

	.card:hover {
		background-color: #ff6c0c;
		color: white;
	}

	.NuestroAlcance {
		margin-top: 7rem;
	}

	.NuestroAlcance p {
		font-size: 1.2rem;
		word-break: normal;
	}

	.ServiceCard p {
		width: 42%;
	}
}

@media (max-width: 1250px) {
	.NuestroAlcance {
		grid-template-columns: 90%;
		gap: 3rem;
	}

	.NuestroAlcance div:nth-of-type(2) {
		grid-row: 2;
	}
	.CardContainer {
		justify-content: center;
	}
}
