.style_footer {
	width: 100%;
}

.section1_footer {
	background-color: #02254c;
	color: #fff;
}

.section2_footer {
	background-color: #011c3a;
	color: #fff;
}

.link_father {
	color: #ff6c0c;
}

.link_son {
	margin-bottom: 5px;
}

.link_son small a {
	color: inherit;
	text-decoration: none;
	display: block;
	transition: font-size 0.5s, color 0.5s;
	padding-left: 3px;
}

.link_son small a:hover {
	font-size: 17px;
	color: #ff6c0c;
}
