.containerCom {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed red;
}

.container {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
	width: 80%;
	align-items: center;
	border: 1px dashed red;
}

.title {
	margin-bottom: 2em;
	position: relative;
	text-align: center;
	border: 1px dashed red;
}

.title::before {
	content: '';
	position: absolute;
	display: block;
	height: 3px;
	width: 12%;
	background: #ff6c0c;
	bottom: -20px;
	left: calc(44%);
}

.imgandinfo {
	display: flex;
	justify-content: center;
}

.text {
	width: 45%;
	padding-left: 40px;
	text-align: justify;
}

.imgcontainer {
	width: 550px;
	height: 320px;
}

.imgcontainer img {
	border-radius: 5px;
}

.containparagraphs {
	display: flex;
	flex-direction: column;
	width: 87%;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
}
