.title_main {
	font-size: 2.5rem;
	color: #053b77;
	text-align: center;
}
.button_service {
	color: cornsilk;
	background-color: #ff6c0c;
	width: 20rem;
	padding: 0.5rem;
	border-radius: 1.3rem;
	border: none;
}
.container_service {
	margin-top: 8rem;
}
.form_title {
	margin-bottom: 1.5rem;
	color: #063061;
	position: relative;
}
.form_title::before {
	content: '';
	position: absolute;
	display: block;
	height: 3px;
	width: 31%;
	background: #ff6c0c;
	bottom: -20px;
	left: calc(30%);
}
